{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/home.js') }}"
></script>

<div id="loadingBlinker">
    <img id="loadingBlinkerImage" src="" alt="Loading" />
    Fetching manifest...
</div>

<div id="homepageElements" class="container align-center hide-by-default">
    <div class="row">
        <div class="col-md-12 title">
            High-quality
            <span id="homeTitleGakumas" class="text-gradient">Gakumas</span>
            assets.<br />
            Delivered straight from the server.
        </div>
        <div class="col-md-12 subtitle mt-3">
            <span>GkmasManifest revision</span>
            <span id="homeMetadataRevision" class="text-bold"></span>
            <span>with</span>
            <span id="homeMetadataAbCount" class="text-bold"></span>
            <span>assetbundles and</span>
            <span id="homeMetadataResCount" class="text-bold"></span>
            <span>resources. Standby.</span>
        </div>
    </div>

    <div class="row mt-5 mb-5 gx-2 text-size-150 align-items-center">
        <div class="col-md-7">{% include 'searchform.html' %}</div>
        <div class="col-md-1">or Goto</div>
        <div class="col-md-2">
            <select id="homeGotoType" class="form-select">
                <option value="assetbundle">AssetBundle</option>
                <option value="resource">Resource</option>
            </select>
        </div>
        <div class="col-md-2">
            <form id="homeGotoForm" class="position-relative">
                <input
                    id="homeGotoInput"
                    class="form-control"
                    type="number"
                    min="1"
                    placeholder="ID"
                />
                <button
                    id="homeGotoButton"
                    class="bi bi-arrow-right gentle-button floating-button"
                    type="submit"
                ></button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 subtitle text-bold">
            <span class="text-gradient">LATEST RELEASES</span>
        </div>
    </div>

    <div class="row mt-2 gx-3" id="homeFeaturedContainer"></div>
</div>

{% endblock %}
