{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/view.js') }}"
></script>

<!-- AJAX Interface -->
<!-- Must make these visible to JS even if no json conversion is involved -->
<script>
    let type = "{{ type }}";
    let info = {{ info | tojson }};
</script>

<div id="viewpageElements" class="container">
    <div class="row">
        <div class="col-md-12 title">{{ type }} #{{ info.id }}</div>
        <div class="col-md-12 subtitle text-monospace">{{ info.name }}</div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8" id="viewpageLeftColumn">
            <!-- left -->
            <div class="row">
                <div class="col-md-12">
                    <div id="viewMedia" class="container align-center">
                        <div id="loadingSpinnerMedia">
                            <div
                                class="spinner-border me-2"
                                role="status"
                            ></div>
                            Loading media...
                        </div>
                        <div
                            id="viewMediaContent"
                            class="hide-by-default"
                        ></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="viewpageRightColumn">
            <!-- upper right -->
            <div class="row">
                <div class="col-md-12">
                    <a
                        href="{{ info.raw_url }}"
                        rel="noopener noreferrer"
                        class="btn btn-outline-primary w-100 fs-3"
                    >
                        Download Raw {{ type }}
                    </a>
                </div>
                <div class="col-md-12 mt-3">
                    <a
                        id="downloadConvertedMedia"
                        class="btn btn-primary w-100 fs-3 disabled"
                    >
                        Loading Conversion
                    </a>
                </div>
            </div>

            <!-- lower right -->
            <div class="row mt-5">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <tbody class="align-middle">
                            <tr>
                                <th class="text-tightline">Upload Time</th>
                                <td id="uploadTime">Loading...</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td>{{ info.size }}</td>
                            </tr>
                            {% if info.crc %}
                            <tr>
                                <th>CRC</th>
                                <td>{{ info.crc }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>MD5</th>
                                <td class="text-monospace fs-6">
                                    {{ info.md5 }}
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">Dependencies</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <ul>
                                        {% if info.dependencies %} {% for dep in
                                        info.dependencies %}
                                        <li class="text-monospace fs-6">
                                            <a
                                                href="/view/assetbundle/{{ dep.id }}"
                                                >{{ dep.name }}</a
                                            >
                                        </li>
                                        {% endfor %} {% else %} None {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
